<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script type="text/javascript" src="/javascripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
      });
    </script>
  </head>
  <body>
    <div id="container">
      <header>
        <p>node.js 연습하기</p>
      </header>
      <nav class="vertical">
        <ul>
          <li><a href="#">nav1</a></li>
          <li><a href="#">nav2</a></li>
          <li><a href="#">nav3</a></li>
        </ul>
      </nav>
      <section>
      </section>
      <footer>
      </footer>
    </div>
  </body>
</html>
