<!DOCTYPE html>
<html>
<head>
    <title>Practice Node Js</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />


    <script type="text/javascript" src="/javascripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.mobile-1.4.5.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){

        /* Add Note Event */

        /* 탭홀드(롱클릭) 이벤트 발생 시 클릭 이벤트 제어 플래그 */
        var skipNextClick  = false;
        $("a[href=#add]").on("click taphold", function(e){
            var isClick = (e.type == "click");
            if( isClick && !skipNextClick){
                addNoteServer();
            } else if( isClick && skipNextClick  ) {
                skipNextClick = false;
            } else {

                skipNextClick = true;
            }
        });

        addNoteServer = function(){
            $("#hidParam").val("");
            $("#hidParam").val("test");

            $("#frmSubmit").attr("method", "POST");
            $("#frmSubmit").attr("action", "/notes");
            $("#frmSubmit").submit();
        }

        addNoteHtml = function( name ){
            var addHtml = "";

            addHtml += "<li>";
            addHtml += "<a href='#'>";
            addHtml += name == null || name == undefined || name.length == 0 ? "noname" : name;
            addHtml += "</a>";
            addHtml += "</li>";

            $("nav.vertical").append(addHtml);
        };
    });
    </script>
</head>
<body>
    <div id="container">
        <header>
            <h1>node.js 연습하기</h1>
        </header>
        <nav class="vertical">
            <ul>
                <li><a href="#add">add</a></li>
            </ul>
        </nav>
        <section>
            <article>
                <span></span>
                <span></span>
            </article>
        </section>
        <footer>
            <p>copyright</p>
        </footer>
    </div>
    <form id="frmSubmit">
        <input type="hidden" id="hidParam" name="hidParam" />
    </form>
</body>
</html>
